 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body.dark {
    background: #111;
    color: #fff;
}
body.light {
    background: #fff;
    color: #000;
}
 
 #main {
      width: 100vw;
      height: 100vh;
      display: flex;              
      justify-content: center;     
      align-items: center;         
      flex-direction: column;      
      background: #f4f4f4;         
    }

    /* Style for h1 */
    h1 {
      font-size: 3rem;
      margin: 10px 0;
      color: #222;
    }

    /* Style for h6 */
    button {
      font-size: 1rem;
      margin: 5px 0;
    
      font-weight: normal;
      border: 2px solid grey;
      border-radius: 10px;
      padding: 10px;
    }